.overlay__input-container {
  margin: 0;
  margin-bottom: 45px;
  border: none;
  padding: 0;
  width: 100%;
  max-width: 358px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 30px;
}

@media screen and (min-width: 1279px) {
  .overlay__input-container {
    margin-bottom: 48px;
  }
}
