.profile-info {
  display: grid;
  grid-template-columns: minmax(0,189px) min-content;
  grid-template-rows: 2;
  margin-bottom: 36px;
  column-gap: 10px;
  row-gap: 14px;
  align-items: center;
}

@media screen and (min-width: 1279px) {
  .profile-info {
    grid-template-columns: minmax(0,294px) min-content;
    margin-bottom: 0;
    column-gap: 18px;
    row-gap: 16px;
  }
}
